---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8546820642324353"
     crossorigin="anonymous"></script>
  </head>
  <body>
	<a href="/about/">About</a>
    <h1>自然言語処理の図書室</h1>
  </body>
</html>